.simple-section {

    margin-bottom: 147px;

    .simple-wrap {
        display: flex;
        align-items: center;
    }

    .simple-wrap_left h2 {
        width: 445px;
        color: #36536B;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: -0.369px;
        margin-bottom: 24px;
        font-family: 'DM Serif Display', serif;
    }

    .simple-wrap_left p {
        width: 445px;
        color: #6C8294;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
}